
.wrap {
    position: relative;
    z-index: 0;
    /*height: 100%;*/
    height: 410px;
    clear: both;
}

.banner-show {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    min-width: 980px;
    height: 410px;
    overflow: hidden;
}

.banner-show .cell {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    background-repeat: repeat-x;
    background-position: center top;
}

.banner-show .cell .con {
    position: relative;
    height: 410px;
    /*height: 100%;*/
    background-repeat: no-repeat;
    background-position: center top;
}

.bns-01 {
    background-image: url(../images/mid_banner/banner_011_repeat.png?v=201406241538);
}

.bns-01 .con {
    background-image: url(../images/mid_banner/banner_011.png?v=201406241538);
}

.bns-02 {
    background-image: url(../images/mid_banner/banner_022_repeat.gif?v=201406241538);
}

.bns-02 .con {
    background-image: url(../images/mid_banner/banner_022.gif?v=201406241538);
}

.bns-03 {
    background-image: url(../images/mid_banner/banner_033_repeat.png?v=201406241538);
}

.bns-03 .con {
    background-image: url(../images/mid_banner/banner_033.png?v=201406241538);
}

.banner-link {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    margin-left: -430px;
}

.banner-link i {
    display: none;
}

.banner-control {
    position: absolute;
    top: 0;
    left: 50%;
    width: 1100px;
    margin-left: -550px;
}

.banner-control a {
    position: absolute;
    top:205px;
    width: 30px;
    height: 30px;
    line-height: 10;
    overflow: hidden;
    background-image: url(../images/icon_control.png?v=201406241538);
    background-repeat: no-repeat;
    /*background-repeat: no-repeat;*/
}

.banner-control a.left {
    left: -55px;
    background-position: 0 0;
}

.banner-control a.left:hover {
    background-position: 0 -30px;
}

.banner-control a.right {
    right: -55px;
    background-position: -30px 0;
}

.banner-control a.right:hover {
    background-position: -30px -30px;
}
